<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 和 java mapper 的类名一样，从包名开始打，有自动补全-->
<mapper namespace="kybmig.ssm.mapper.BoardMapper">
    <select id="all" resultType="kybmig.ssm.model.BoardModel">
        SELECT * FROM Board;
    </select>
</mapper>